option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 18.17.0
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: false

container_commands:
  01_install_dependencies:
    command: "npm install"
  02_build_application:
    command: "npm run build"
  03_set_permissions:
    command: "chmod +x server/index.js" 